@import url('https://fonts.googleapis.com/css?family=Numans');

html, body{
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: 216px;
    width: 400px;
    background-color: rgb(0, 0, 0, 0 ,5) !important;
}

.social-icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #12d0ff;
}

.social-icon span:hover{
    font-size: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.fab{
    margin-left: 5px;
}

.hover{ 
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: black;

}

.social-icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #12D0ff;
    color: black;
    border: 0 !important;
}

.input-group{
    margin-top: 5px;
    margin-bottom: 5px;
}

.input:focus{
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.login-btn{
    margin-top: 15px;
    background-color: #12D0ff;
    color: white;
}

.login-btn:hover{
    color: black;
    background-color: white;
}